.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.list-body {
  margin-block-end: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
  overflow:auto; 

  height: calc(100vh -75px);
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
    cursor: pointer;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.parked {
  background-color: darken($off-white, 7%);;
 }

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    margin: 0;
    word-break: break-all;
  }
}

.list-item__link {
  width: 100%;
  text-decoration: none;
  color: $dark-grey;
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}
