.loadingElement {
  height:  100%;
}

.containerElement {
  @media (min-width: $desktop-breakpoint) {
    position:fixed;
    top: 75px;
    right:0;
    width:  calc(100% - 45rem);
  }
  height: calc(100vh - 75px);
  width: 100%;

}

.mapElement {
  height:  100%;
}